$theme-colors: (
    "primary": #0A0A0A,
    "secondary": #D71920,
    "light": #BCBBBA,
    "dark": #474648,
    "white": #FFF
);

$font-primary: 'Roboto', sans-serif;
$font-secondary: 'Roboto Mono', monospace;

$thin: 100;
$regular: 400;
$bold: 700;

@import "../node_modules/bootstrap/scss/bootstrap";

header {
    font-family: $font-primary;

}

.game-card {
    min-height: 30vh;
    font-family: $font-secondary;
    font-weight: $bold;
    font-size: 6rem;
}

.hover-focus:hover {
    transform: scale(1.05);
}

#agario-card {
    background-image: url("/images/agario.png");
    background-position: center;
}

#calibration-card {
    background: linear-gradient( rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7) ), url('/images/calibration.jpg');
    background-position: center;
}

#video-card {
    background-image: url("/images/film-stocks.jpeg");
    background-position: center;
}

#game-box {
    margin: 0 0 3rem auto;
    position: relative;
}

/* Calibration Page */

.button {
    background-color:cyan;
    border: none;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 50%;
}

.button1 {
    position: absolute;
    top: 35%;
    right: 0;
}

.button2 {
    position: absolute;
    top: 35%;
    left: 0;
}

.button3 {
    position: absolute;
    bottom: 0;
    right: 0;
}

.button4 {
    position: absolute;
    bottom: 0;
    left: 0;
}

.button5 {
    position: absolute;
    top: 67.5%;
    right: 50%;
}

.vid1 {
    float:left;
    width:auto;
}

.vid2 {
    float:right;
    width:auto;
}